
<nav class="navbar navbar-default"  style="margin-left: 30%; width: 40%; background-color: white; margin-top: 1%; border: 2px solid;">
  <div class="container-fluid">
    <div class="navbar-header" style="margin-left: 30%;">
      <a class="navbar-brand" href="#"><em>Techstitution</em></a>
    </div>
<ul class="nav navbar-nav">
      <li><a href="/"><b>Forma</b></a></li>
      <li><a href="/show"><b>Lista</b></a></li>
      
      
    </ul>
  </div>
</nav>


