<% include partials/header %>
<div>
<p>te dhenat jane ketu</p>


<!--<table>
<% for(var i=0; i < projects.length; i++) { %>
  <tr>
    <td><%= projects[i].id %></td>
    <td><%= projects[i].name %>
    </td>
    <% for(var j=0; j < projects1.length; j++) { %>
  <tr>
    <td><%= projects1[j].nr %></td>
    <td><%= projects1[j].emri %></td>
  </tr>
<% } %>
  </tr>
<% } %>
</table>-->
<% include partials/footer %>